$text-color: hsl(200, 40%, 95%);
$light-text-color : #bbb;
$light-text-color2 : #888;
$main-color : hsl(200, 70%, 50%);
$light-main-color : hsl(200, 70%, 80%);
$dark-main-color : hsl(200, 30%, 40%);
$background-color : #121212;
$foreground-color : #282828;
$foreground-color2 : #363636;

